*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.header{
    height:200px;
    background-color: #090950;
    padding-right: 30px;
    padding-left: 30px;
}

.menu{
    color:#e6d8d8;
    float:right;
    font-size: 30px;
    padding:100px 20px 0px 20px;
}

.middle{
    background-color: rgb(19, 75, 107);
    height:1200px;
}